---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";

const footerSupport = [
  {
    itemText: "contact us",
    itemLink: "https://wa.me/1132489451?text=Hola%20Mili!%20",
  },
];

const footerLegal = [
  {
    itemText: "Claim",
    itemLink: "/#",
  },
  {
    itemText: "Privacy",
    itemLink: "#",
  },
  {
    itemText: "Terms",
    itemLink: "#",
  },
];
---

<div class="mt-16"></div>
<footer class="relative bg-gradient-to-tr pt-28 rounded-t-3xl">
  <Container className="pb-8 relative overflow-auto">
    <div
      class="grid grid-cols-2 lg:grid-cols-3 lg:items-stretch gap-8 relative"
    >
    </div>
    <div
      class="flex justify-between items-center gap-6 md:text-xs text-[10px] text-heading-3 uppercase"
    >
      <div>
        &copy; <span id="year"></span> M&L | all rights reserved
      </div>
      <div>
        Developed by <a
          href="https://github.com/Braydarak"
          target="_blank"
          class="font-semibold hover:cursor-pointer hover:underline">Brian Darakdjian</a
        >
      </div>
    </div>
  </Container>
</footer>
